@import "tailwindcss";

:root {
  --font-roboto: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Font.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


html, body {
  font-family: var(--font-roboto);
  scroll-behavior: smooth;
}